.abaut {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  float: left;

  img {
    width: 62px;
    height: 62px;
    float: left;
  }

  .tochbir {
    margin-left: 120px;
  }

  .tochikki {
    margin-left: 250px;
  }

  .tochuch {
    margin-left: 250px;
  }
}

.full {
  margin-top: 90px;
  margin-left: 103px;
}
.name{
  margin-top: 10px;
  margin-left: 50px;
}
.email{
  margin-top: -63px;
  margin-left: 406px;
}
.adres{
  margin-top: 10px;
  margin-left: 318px;
}
.phone{
  margin-top: -57px;
  margin-left: 745px;
}
.number{
  margin-top: 10px;
  margin-left: 712px;
}