* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans', sans-serif;                                              
}

ul,
ol {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 1920px;
  margin: 0 auto;
}