.hero{
  p{
  margin-top: 9px;
  margin-left: 128px;
  }
  img{
    width: 280px;
    height: 280px;
    border-radius: 100%;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
  }
}
.hero__item{
  margin-top: 128px;
  margin-left: 128px;
}
.hero__btn{
  width: 113px;
  height: 35px;
  margin-top: 35px;
  margin-left: 130px;
  margin-right: 10px;
  color: white;
  background-color: green;
  border: none;
}
.btn{
  width: 113px;
  height: 35px;
  margin-top: 35px;
  color: white;
  background-color: black;
  border: none;
}
.hero__picture{
  width: 300px;
  height: 300px;
  border: 1px solid black;
  border-radius: 100%;
  float: right;
  margin-right: 1100px;
  margin-top: -180px;
}
.hero__info{
  color: black;
  font-family: DM Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 100px;
  margin-left: 432px;
}
.hero__ipsum{
  width: 745px;
  height: 136px;
  color: black;
  text-align: center;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

