.skils {
  font-family: DM Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 470px;
  margin-left: 236px;
}

.skils__welcome {
  width: 1168px;
  height: 235px;
  border: 1px solid black;
  margin-top: 50px;
  margin-left: -200px;
  background-color: black;
}

.html {
  color: var(--Green-2, #27AE60);
  margin-top: 50px;
  margin-left: 50px;
  font-family: DM Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}

.lear {
  margin-top: 10px;
  margin-left: 33px;
  font-weight: 700;
  font-size: 24px;
  color: white;
}
.css{
  margin-top: -65px;
  margin-left: 322px;
  font-size: 24px;
  font-weight: 700;
  color: #27AE60;
}
.aaa{
  margin-top: 10px;
  margin-left: 296px;
  color: white;
  font-size: 24px;
  font-weight: 700;
}
.reak{
  margin-top: -66px;
  margin-left: 612px;
  color: #27AE60;
  font-size: 24px;
  font-weight: 700;
}
.bbb{
  margin-top: 10px;
  margin-left: 585px;
  color: white;
  font-size: 24px;
  font-weight: 700;
}
.javas{
  margin-top: -66px;
  margin-left: 845px;
  color: #27AE60;
  font-size: 24px;
  font-weight: 700;
}
.fff{
  margin-top: 10px;
  margin-left: 862px;
  color: white;
  font-size: 24px;
  font-weight: 700;
}